html {
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS";
  background-position: center;
  background-attachment: fixed;
  width: 35vw;
  height: 16vw;
}

#title-box {
  font-size: 25px;
  width: 700px;
  height: 200px;
  color: white;
  position: relative;
  left: 19.5%;
}

#white-box {
  width: 35vw;
  height: 16vw;
  /* width: 700px;
        height: 290px; */
  background-color: white;
  position: relative;
  margin-top: 220px;
  left: 620px;
  align-items: center;
  text-align: center;
  border-radius: 25px;
}

#bluebox,
p,
button {
  font-size: 75px;
}

button {
  border-radius: 25px;
}

.red-button {
  background-color: red;
}

.green-button {
  background-color: green;
}

.yellow-button {
  background-color: yellow;
}
